@{
    Layout = "_DeDevExtremeLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <p class="display-5 text-center text-bg-danger">ليس لديك صلاحية لفتح هذه الصفحة</p>
</head>
<body>
</body>
</html>
